.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xs-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-xs-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-xs-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xs-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-xs-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-xs-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-xs-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* tablet - sm */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .menu {
        overflow: auto;
    }

    .menu > li {
        border: 2px solid transparent;
        padding: 5px 0;
    }
    
    .menu > li:hover {
        border: 2px solid #23b7a4;
        border-radius: 5px;
        transition: 0.5s;
    }
    
    body .current  {
        border: 2px solid #23b7a4;
        border-radius: 5px;
    }

    .buttons-footer {
        justify-content: flex-end;
    }

    label {
        flex: 1;
        max-width: 48%;
    }
}

/* laptop - md */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .menu > li {
        border: 2px solid transparent;
        padding: 5px 0;
    }
    
    .menu > li:hover {
        border: 2px solid #23b7a4;
        border-radius: 5px;
        transition: 0.5s;
    }
    
    body .current  {
        border: 2px solid #23b7a4;
        border-radius: 5px;
    }

    .buttons-footer {
        justify-content: flex-end;
    }
}

/* desktop - lg */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* only mobile - xs */
@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
    }

    /* Menu mobile version */

    .menu {
        display: flex;
        flex-direction: column;
        overflow: unset;
        flex-wrap: nowrap;
        height: 100%;
    }

    .menu li {
        background-color: #1d2126;
        font-size: 16px;
        text-align: center;
        height: 100%;
    }

    body .current  {
        border: none !important;
        border-radius: none !important;
    }

    .menu > li {
        border: none !important;
        border-radius: none !important;
    }

    .menu > li:hover {
        border: none !important;
        border-radius: none !important;
    }

    .menu > li a {
       justify-content: center;
       align-items: center;
    }

    .menu > li a:hover {
        color: #23b7a4;
    }

    .nav-mobile-menu {
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
    }

    .nav-mobile-menu span {
        height: 1px;
        left: 0;
        right: 0;
        position: absolute;
        background-color: white;
        transition: 0.25s ease-in-out;
    }

    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }    
    
    .nav-mobile-menu span:nth-child(3) {
        bottom: 3px;
    }

    /* Active menu */

    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }

    .navigation {
        position: fixed;
        width: 200px;
        max-width: 200px;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(150%);
        transition: 0.5s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top: 80px;
        transform: translateX(0);
        z-index: 10;
    }

    .slider-button {
        justify-content: center;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .TITLE {
        justify-content: center;
        align-items: center;
    }

    .title-size-1 {
        font-size: 30px !important;
        font-weight: 700;
    }

    .text-we-are-modest {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .we-are-modest .social-media {
        width: 50px;
        height: 50px;
    }

    .text-features {
        text-align: center;
    }

    .name-and-email {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .text-footer {
        text-align: center;
    }

    .buttons-footer {
        justify-content: center;
        align-items: center;
    }

    .slider {
        text-align: center;
    }

    .your-name-email {
        width: 100%;
    }
}